/*
 * Any styles in here will be applied to all pages that match the pattern in the manifest. Typically, you
 * will need to use `!important` to override styles on other web pages.
 *
 */

:root {
  --cr-rc-main-accent-color: #F78C24;
  --cr-rc-main-gray-color: #cecaca;

  --cr-rc-main-font-size: .8125rem;
}

@media only screen and (max-width: 900px) {

  #cr-rs-filter-menu.cr-rs-class {
    flex-direction: column;
    row-gap: 10px;
  }

  .cr-rs-filter-vertical-divider {
    display: none;
  }
}

@media only screen and (min-width: 900px) {

  #cr-rs-filter-menu.cr-rs-class {
    flex-direction: row;
    column-gap: 18px;
  }
}

.cr-rs-hide {
  display: none;
}

.cr-rs-filter-hidden-count {
  list-style: none;
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  height: 1.05rem;
  font-family: Verdana, 'Lucida Grande', sans-serif;
  font-size: .7rem;
  line-height: 1.5;
  color: #a09895;
}

p.premium-message {
  margin-bottom: 0.6% !important;
}

.cr-rs-filter-hidden-count.changed {
  border-radius: 4px;
  animation: highlight 500ms ease-out;
}

@keyframes highlight {
  0% {
    background-color: var(--cr-rc-main-accent-color);
  }

  100% {
    background-color: inherit;
  }
}




.cr-rs-filter-vertical-divider {
  /* 
    Helpful link: https://www.w3schools.com/howto/howto_css_vertical_line.asp 
    */
  border-left: 1px solid var(--cr-rc-main-gray-color);
  height: 25px;
}




#cr-rs-filter-menu.cr-rs-class {
  /* 
  Styles pretty much copied from '.simulcast-calendar-header 
  .premium-message' and '.premium-message' 
  */

  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  color: var(--cr-rc-main-accent-color);
  border-radius: 0.25rem;
  background-color: #FFFFFF;

  font-weight: 400;

  padding: 0.9em 1em;
  /* text-align: center; */
  font-size: var(--cr-rc-main-font-size);
  text-shadow: 0 0 0.077em rgb(54 50 49 / 50%);
  /* background-color: var(--cr-rc-main-gray-color); */

  /* Helpful link for flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  /* justify-content:space-between; */
  align-items: center;
  /* gap: 10px; */
  /* gap: 10px 20px; */
  /* row-gap column gap */
  /* row-gap: 10px; */
  /* column-gap: 18px; */
  /* width: max-content; */
}

/* 
Style the swtich
Most styles from https://www.w3schools.com/howto/howto_css_switch.asp
 */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 17px;
  background-color: var(--cr-rc-main-gray-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--cr-rc-main-accent-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--cr-rc-main-accent-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Adding a dotted border around the active tabbed-into switch */
input:focus+.slider:before,
input:not(:disabled)+.slider:hover:before {
  /* Visible in the full-color space */
  box-shadow: 0px 0px 0px 4px var(--cr-rc-main-accent-color);

  /* Visible in Windows high-contrast themes
     box-shadow will be hidden in these modes and
     transparency will not be hidden in high-contrast
     thus box-shadow will not show but the outline will
     providing accessibility */
  outline-color: transparent;
  outline-width: 4px;
  outline-style: dotted;
}


/* Disabled switch styles */
input:disabled+.slider {
  cursor: default;
  opacity: 0.5;
}

/* End Switch Styles */

.disabled-in-js {
  cursor: default;
  opacity: 0.5;
}

/* Style checkboxes */

#cr-rs-filter-menu-pick-dubs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content:space-between; */
  /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  align-items: stretch;
  /* gap: 10px; */
  /* gap: 10px 20px; */
  /* row-gap column gap */
  /* row-gap: 10px; */
  column-gap: 1px;
}

#cr-rs-filter-menu-pick-dubs input {

  /* accent-color: var(--cr-rc-main-accent-color); */
  /* margins-right: .3em; */

  /* https://stackoverflow.com/a/719545/1193704 */
  vertical-align: middle;
  position: relative;
  bottom: .08em;
  /* this is a better value for different fonts! */
}

#cr-rs-filter-menu-pick-dubs input[type="checkbox"] {
  /* position: absolute; */
  opacity: 0;
  /* z-index: -1; */
}

/* Text color for the label */
#cr-rs-filter-menu-pick-dubs input[type="checkbox"]+span {
  cursor: pointer;
  font-size: var(--cr-rc-main-font-size);
  color: black;
}

/* Checkbox un-checked style */
#cr-rs-filter-menu-pick-dubs input[type="checkbox"]+span:before {
  content: '';
  border: 1px solid var(--cr-rc-main-gray-color);
  border-radius: 2px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 0.3em;
  bottom: .08em;
  /* margin-top: 0.5em; */
  /* vertical-align: -2px; */
}

/* Checked checkbox style (in this case the background is red) */
#cr-rs-filter-menu-pick-dubs input[type="checkbox"]:checked+span:before {
  /* NOTE: Replace the url with a path to an SVG of a checkmark to get a checkmark icon */
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  /* The size of the checkmark icon, you may/may not need this */
  background-size: 15px;
  border-radius: 2px;
  background-color: var(--cr-rc-main-accent-color);
  color: white;
}

/* Adding a dotted border around the active tabbed-into checkbox */
#cr-rs-filter-menu-pick-dubs input[type="checkbox"]:focus+span:before,
#cr-rs-filter-menu-pick-dubs input[type="checkbox"]:not(:disabled)+span:hover:before {
  /* Visible in the full-color space */
  box-shadow: 0px 0px 0px 2px var(--cr-rc-main-accent-color);

  /* Visible in Windows high-contrast themes
     box-shadow will be hidden in these modes and
     transparency will not be hidden in high-contrast
     thus box-shadow will not show but the outline will
     providing accessibility */
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}


/* Disabled checkbox styles */
#cr-rs-filter-menu-pick-dubs input[type="checkbox"]:disabled+span {
  cursor: default;
  color: black;
  opacity: 0.5;
}

/* #cr-rs-filter-menu-pick-dubs input[type='checkbox']:checked:after {
  content: '\2713';
  color:white;
  text-align: center;
  position: relative;
    bottom: 0.08em;
} */

#cr-rs-filter-menu-pick-dubs label {
  color: black;
  font-size: var(--cr-rc-main-font-size);
}

/* Style Radio */

.cr-rs-class.switch-holder {
  display: flex;
  /* column-gap: 5px; */
  align-items: center;
}

@media only screen and (max-width: 1182px) {

  .cr-rs-class.switch-holder {
    flex-direction: column;
    column-gap: 5px;
  }
}

@media only screen and (min-width: 1182px) {

  .cr-rs-class.switch-holder {
    flex-direction: row;
    column-gap: 5px;
  }
}

.switch-field {
  display: flex;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: white;
  color: black;
  font-size: var(--cr-rc-main-font-size);
  line-height: 1;
  text-align: center;
  padding: 4px 8px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: var(--cr-rc-main-accent-color);
  color: white;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}


/* Adding a dotted border around the active tabbed-into checkbox */
.switch-field input:focus+label,
.switch-field input+label:focus,
.switch-field input:not(:disabled)+label:hover {
  /* Visible in the full-color space */
  box-shadow: 0px 0px 0px 4px var(--cr-rc-main-accent-color);

  /* Visible in Windows high-contrast themes
     box-shadow will be hidden in these modes and
     transparency will not be hidden in high-contrast
     thus box-shadow will not show but the outline will
     providing accessibility */
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}


/* Disabled checkbox styles */
.switch-field input:disabled+label {
  cursor: default;
  color: black;
  opacity: 0.5;
}

/* End Radio Group Styles */

/* Start end buttons Style */

.end-button-group {
  display: flex;
  /* column-gap: 60%;
  font-weight: bold;
  margin-left: 1.1%;
  padding-right: .5%; */
}

button.cr-rs-class {
  /* border-radius: 4px; */
  background-color: rgba(127, 127, 127, 0);
  border: none;
  font-size: 100%;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding-top: unset;
  padding-left: unset;
  padding-right: unset;
  padding-bottom: unset;
}

.fontello-icon.locked {
  color: var(--cr-rc-main-accent-color);
}

.fontello-icon.unlocked {
  color: var(--cr-rc-main-gray-color)
}

.fontello-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  /* speak: never; */

  /* display: inline-block; */
  /* text-decoration: inherit; */
  /* width: 1em; */
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  /* line-height: 1em; */

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* You can be more comfortable with increased icons size */
  font-size: 123%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Adding a dotted border around the active tabbed-into checkbox */
button.cr-rs-class:focus+.fontello-icon,
button.cr-rs-class+.fontello-icon:focus,
button.cr-rs-class:not(:disabled)+.fontello-icon:hover {
  /* Visible in the full-color space */
  box-shadow: 0px 0px 0px 4px var(--cr-rc-main-accent-color);

  /* Visible in Windows high-contrast themes
     box-shadow will be hidden in these modes and
     transparency will not be hidden in high-contrast
     thus box-shadow will not show but the outline will
     providing accessibility */
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}


/* Disabled checkbox styles */
button.cr-rs-class:disabled+.fontello-icon,
button.cr-rs-class:disabled {
  cursor: default;
  color: black;
  opacity: 0.5;
}