/*
 * Any styles in here will be applied to all pages that match the pattern in the manifest. Typically, you
 * will need to use `!important` to override styles on other web pages.
 *
 */

/* || OVERWRITING STYLES */

p.premium-message {
  /* if the premium message is shown we want to add 
  some gap between it and our menu */
  margin-bottom: 0.6% !important;
}

/* || GENERAL STYLES */

:root {
  --cr-rc-main-accent-color: #F78C24;
  --cr-rc-main-gray-color: #cecaca;

  --cr-rc-main-font-size: .8125rem;

  --cr-rc-switch-height: 17px;
  --cr-rc-switch-inner-circle-size: 13px;
}

.cr-rs-hide {
  display: none;
}

.disabled-in-js {
  cursor: default;
}


/* || IN LINE MENU STYLES */

#cr-rs-filter-menu.cr-rs-class {
  /* 
  Styles pretty much copied from '.simulcast-calendar-header 
  .premium-message' and '.premium-message' 
  */

  background-color: #FFFFFF;
  border-radius: 0.25rem;

  cursor: default;

  color: var(--cr-rc-main-accent-color);
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: var(--cr-rc-main-font-size);
  font-weight: 400;
  line-height: 1.5em;
  text-shadow: 0 0 0.077em rgb(54 50 49 / 50%);

  padding: 0.9em 1em;

  /* Helpful link for flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* || MEDIA QUERIES */

@media only screen and (max-width: 900px) {

  #cr-rs-filter-menu.cr-rs-class {
    flex-direction: column;
    row-gap: 10px;
  }

  .cr-rs-filter-vertical-divider {
    display: none;
  }
}

@media only screen and (min-width: 900px) {

  #cr-rs-filter-menu.cr-rs-class {
    flex-direction: row;
    column-gap: 18px;
  }
}

/* || SWITCH STYLES */

/* 
Most styles from https://www.w3schools.com/howto/howto_css_switch.asp
 */
.switch {
  display: inline-block;
  height: var(--cr-rc-switch-height);
  margin-left: 10px;
  position: relative;
  width: 30px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--cr-rc-switch-height);
  background-color: var(--cr-rc-main-gray-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--cr-rc-switch-inner-circle-size);
  width: var(--cr-rc-switch-inner-circle-size);
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input[type="checkbox"]:checked+.slider {
  background-color: var(--cr-rc-main-accent-color);
}

input[type="checkbox"]:checked+.slider:before {
  -webkit-transform: translateX(var(--cr-rc-switch-inner-circle-size));
  -ms-transform: translateX(var(--cr-rc-switch-inner-circle-size));
  transform: translateX(var(--cr-rc-switch-inner-circle-size));
}

.rs-cr-toggle-container:hover input[type="checkbox"]:not(:disabled)+.slider:before,
.rs-cr-toggle-container input[type="checkbox"]:focus+.slider:before,
.rs-cr-toggle-container input[type="checkbox"]:not(:disabled)+.slider:hover:before {
  /* Visible in the full-color space */
  box-shadow: 0px 0px 0px 4px var(--cr-rc-main-accent-color);

  /* Visible in Windows high-contrast themes
     box-shadow will be hidden in these modes and
     transparency will not be hidden in high-contrast
     thus box-shadow will not show but the outline will
     providing accessibility */
  outline-color: transparent;
  outline-width: 4px;
  outline-style: dotted;
}

/* Disabled switch styles */
input[type="checkbox"]:disabled+.slider {
  cursor: default;
  opacity: 0.5;
}