/* || GENERAL STYLES */
:root {
    --options-primary-text-color: var(--cr-rc-main-text-color);
    --options-bc-color: var(--cr-rc-main-color);
    --options-orange: var(--cr-rc-main-accent-color);
    --options-light-orange: rgba(247, 140, 36, 0.8);
    --options-gray: var(--cr-rc-main-gray-color);
    --options-blue: #258BD2;
    --options-glow: #FDFDFD;

    --draculatheme-current-line: #44475a;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--options-bc-color);
    color: var(--options-primary-text-color);
}

/* || LOGO STYLES */
#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    height: 12em;
}

#logo-text {
    display: flex;
    flex-direction: column;
    /* font-size: 40px; */
    font-size: 2.5rem;
    align-items: center;
}

#title-small-text {
    font-style: italic;
}

.orange-text {
    color: var(--cr-rc-main-accent-color);
}

#page-title {
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.screenshot {
    line-height: 1.5;
    font-family: Helvetica, Arial, "Helvetica Neue", sans-serif;
    font-size: .69rem;
    color: currentColor;
    display: block;
}

.screenshot figcaption {
    font-family: 'Roboto Condensed', sans-serif;
}

.border-and-glow {
    border: var(--cr-rc-main-accent-color) dotted .01rem;
    box-shadow: 0 0 20px var(--options-glow);
}

.option-section {
    margin: .3rem;
}

.option-section-break {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--cr-rc-main-accent-color);
    margin: 1em auto;
    padding: 0;
}


.option-section-title {
    font-family: 'Roboto Condensed', sans-serif;
}

.option {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.option-title {
    margin-bottom: 0;
}

.option-blurb {
    width: clamp(45ch, 50%, 75ch);
}

.option-note {
    width: clamp(45ch, 50%, 75ch);
    color: var(--cr-rc-main-accent-color);
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button-group button {
    background-color: var(--options-bc-color);
    color: currentColor;
    border: 2px solid var(--cr-rc-main-accent-color);
}

/* style disabled buttons */
.button-group button:disabled {
    background-color: var(--options-bc-color);
    color: var(--options-gray);
    border: 2px solid var(--options-gray);
}

.button-group button:not([disabled]):hover {
    background-color: var(--cr-rc-main-accent-color);
    color: var(--options-bc-color);
}

/* unvisited link */
a:link {
    color: var(--options-blue);
}

/* visited link */
a:visited {
    color: var(--options-blue);
}

/* mouse over link */
a:hover {
    color: var(--options-orange);
}

/* selected link */
a:active {
    color: var(--options-orange);
}

/* style the language boxes div*/
#language-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

/* style the language boxes */
.language-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
    row-gap: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* style the language boxes title */
.language-box-title {
    margin-bottom: 0.5em;
}

/* style the language ul to look like a combobox */
.combo-box {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 2px solid var(--cr-rc-main-accent-color);
    border-radius: 5px;
    width: 10em;
    height: 13.4em;
    overflow-y: scroll;
    position: relative;
    text-align: center;
}

/* style the language li to look like a combobox option */
.combo-box li {
    padding: 0.5em;
    background-color: var(--options-bc-color);
    color: currentColor;
    cursor: pointer;
}

/* style the language lit to have a bottom border except for the last li */
.combo-box li:not(:last-child) {
    border-bottom: 1px solid var(--cr-rc-main-accent-color);
}

/* style the language li to look like a combobox option when hovered */
.combo-box li:not([disabled]):hover {
    background-color: var(--options-light-orange);
    color: var(--options-bc-color);
}

/* style the language li to look like a combobox option when selected */
.combo-box li.selected {
    background-color: var(--cr-rc-main-accent-color);
    color: var(--options-bc-color);
    border-bottom: 1px solid var(--options-glow);
}

.combo-box li:not([disabled]).selected:hover {
    background-color: var(--options-light-orange);
    color: var(--options-bc-color);
}

.combo-box li[disabled] {
    color: #ccc;
    cursor: not-allowed;
}

/* style for the "add" and "remove" buttons */
.language-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/* style the error message note */
#lang-select-note .error-message {
    color: var(--options-red);
    text-align: center;
}

.language-button {
    width: 6em;
}

#add-language:after {
    content: '\2192';
    /* Unicode character for right arrow */
    margin-left: 5px;
}

#remove-language:before {
    content: '\2190';
    /* Unicode character for left arrow */
    margin-right: 5px;
}

.others {
    pointer-events: none;
    color: #999;
}

.others-explanation {
    text-align: center;
    font-style: italic;
    color: #777;
}